{% extends 'components/Layout/base_extendido.html' %}
{% load static %}   

{% block content_main %}  

  {% if user.profile.position_FK.permission_code != "RESTRICTED" %}
    <div class="mb-5 max-w-44">
      <a href="{% url "ProjectCreate" %}" class="flex items-center justify-center px-3 py-2 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
        <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <span>Agregar Proyecto</span>
      </a>
    </div>
  {% endif %}

  {% if object_list %}

    <div class="overflow-x-auto min-h-96"> 
      <table aria-labelledby="tablaReporteExcel" aria-describedby="tablaReporteExcel" class="w-full whitespace-nowrap text-left">
        <colgroup>
          <col class="w-full sm:w-4/12">
          <col class="lg:w-4/12">
          <col class="lg:w-2/12">
          <col class="lg:w-1/12">
          <col class="lg:w-1/12">
        </colgroup>
        <thead class="border-b border-white/10 text-sm leading-6 text-white">
          <tr>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Código Proyecto</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Nombre</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Tipo Atención</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Capacidad</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Comuna</th>
            {% if user.profile.position_FK.permission_code != "RESTRICTED" %}
              <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="divide-y divide-white/5">

        {% for item in object_list %}
  
          <tr>
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-10">
              {{ item.code }}
            </td>
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-10">
              {{ item.project_name }}
            </td>
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {% if item.type_of_attention %}
                Recidencial
              {% else %}
                Ambulatoria
              {% endif %}
            </td>
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {{ item.ability }}
            </td>
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {{ item.location_FK.commune }}
            </td>
            <td class="py-1 pl-0  text-sm leading-6  md:table-cell">
              <div class="flex gap-2">
                {% if user.profile.position_FK.permission_code != "RESTRICTED" %}
                  <a href="{% url 'ProjectDelete' item.id %}" onclick="return confirm('¿Estás seguro de que deseas borrar el proyecto {{ item.code }} ?');" class="flex items-center w-12 justify-center rounded-md bg-red-500 px-3 py-[10px] text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 ">
                    {% include "components/svg/svg_eliminar.html" %}
                  </a>
                  <a href="{% url "ProjectEdit" item.id  %}" class="flex items-center w-12 justify-center rounded-md bg-emerald-500 px-3 py-[10px] text-sm font-semibold leading-6 text-white shadow-sm hover:bg-emerald-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">
                    {% include "components/svg/svg_editar.html" %}
                  </a>
                {% endif %}
              </div>
            </td>
  
          </tr>
      
        {% endfor %}

        </tbody>
      </table>
    </div>
    
  {% else %}
    <strong>NO HAY REGISTROS</strong>
  {% endif %} 

  {% include 'components/paginador.html' %}
  {% include 'components/mensajes.html' %} 

{% endblock content_main %}

{% block javascript %}
  <script defer src="{% static "js/show_form.js" %}"></script>
{% endblock javascript %}